.highlights {
  background-color: var(--boxes-colors);
  border-radius: 30px;
  padding: 20px;
  height: fit-content;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: box-shadow var(--transition);
}

.highlights:hover {
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
}

.tH {
  font-size: 1.5rem;
  color: var(--main-text-color);
  margin-bottom: 25px;
  display: inline-block;
}

.tH span {
  display: inline-block;
  transition: color var(--transition), transform var(--transition);
  cursor: pointer;
}

.tH span:hover {
  color: var(--link-color);
  transform: translateY(-3px);
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.box {
  background-color: var(--boxes-colors2);
  padding: 20px;
  border-radius: 15px;
  flex: 0 0 48%;
  margin: 1%; /* Default margin for larger screens */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform var(--transition), box-shadow var(--transition);
}

.row:nth-of-type(1) .box:nth-child(n+3) {
  flex-basis: 100%;
}

@media (max-width: 768px) {
  .box {
    flex: 0 0 48%;
  }
}

@media (max-width: 480px) {
  .box {
    flex: 0 0 100%;
    margin: 10px; /* Increased margin for small screens only */
  }
}

.box .bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.box .bottom svg {
  width: 1.6rem;
  height: 1.6rem;
}

.box .bottom p {
  font-size: 1.3rem;
}

.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
