.highlights {
  background-color: var(--boxes-colors);
  border-radius: 30px;
  padding: 20px;
  height: fit-content;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  transition: box-shadow var(--transition); /* Smooth transition */
}

/* Add hover effect for highlights */
.highlights:hover {
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.tH {
  font-size: 1.2rem;
  color: var(--main-text-color);
  margin-bottom: 25px;
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
}

.box {
  background-color: var(--boxes-colors2);
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  transition: transform var(--transition), box-shadow var(--transition); /* Smooth transition */
}

/* Box title style */
.box h3 {
  font-size: 1rem;
  color: var(--sec-text-color);
  margin-bottom: 35px;
  letter-spacing: 1px;
}

.tH {
  font-size: 1.5rem; /* Adjust font size as needed */
  color: var(--main-text-color);
  margin-bottom: 25px;
  display: inline-block; /* Ensures the span hover works correctly */
}

.tH span {
  display: inline-block; /* Ensures each character can be hovered */
  transition: color var(--transition), transform var(--transition); /* Smooth transitions */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.tH span:hover {
  color: var(--link-color); /* Change color on hover */
  transform: translateY(-3px); /* Slightly lift the character on hover */
}


/* Bottom section style */
.box .bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Icon size */
.box .bottom svg {
  width: 1.6rem;
  height: 1.6rem;
}

/* Bottom text size */
.box .bottom p {
  font-size: 1.3rem;
}

/* Hover effect for boxes */
.box:hover {
  transform: translateY(-5px); /* Moves the box slightly upward */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Enhances the shadow on hover */
}
