@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Flavors&display=swap");

:root {
  --back-ground-color: #fafafa;
  --boxes-colors: #DDFFE7;
  --boxes-colors2: #b3f8c8;
  --search-color: #DDFFE7;
  --main-text-color: #000000;
  --sec-text-color: #777777;
  --input-hover: #dddddd;
  --transition: 0.3s;
}

body.dark {
  --back-ground-color: #101014;
  --boxes-colors: #1b1a1d;
  --boxes-colors2: #28282b;
  --search-color: #1e1e1e;
  --main-text-color: #ffffff;
  --sec-text-color: #7b7980;
  --input-hover: #302f2f;
  --transition: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Exo 2", sans-serif;
  background-color: var(--back-ground-color);
  color: var(--main-text-color);
}

::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--boxes-colors);
}

::-webkit-scrollbar-thumb {
  background-color: var(--sec-text-color);
  border-radius: 10px;
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}



@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
